/*BOILER PLATE CSS*/
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Montserrat, sans-serif;
    background-color: #eeeeee;
}

span {
    color: #ebc462;
}

p a {
    text-decoration: none;
}

/*NAVIGATION*/
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #456;
}

nav ul {
    display: flex;
    flex-direction: row;
}

nav ul li {
    list-style: none;
    padding: 0 2rem;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: #ebc462;
}


/*INSTANT SEARCH BAR*/

/* STYLING THE SEARCH BAR */
.instant-search {
    position: relative;
    width: 550px;
    padding: 0.6rem 0 0.6rem 0.6rem;
}

/* NOT SURE */

.instant-search,
.instant-search * {
    transition: background 0.15s, box-shadow 0.15s;
}

/* BORDER BOX AROUND RESULTS WHEN CLICKED */

.instant-search,
.instant-search__input-container {
    border-radius: 5px;
}


/* STYLING THE BORDER BOX */
.instant-search:focus-within {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

/* STYLING ACTUAL SEARCH BAR */

.instant-search__input-container {
    display: inline-flex;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    background: white;
}

.instant-search__input-container:focus-within {
    background: white;
}

.instant-search__input {
    /* Fills in the rest of the flex container */
    flex-grow: 1;
    border: none;
    outline: none;
    width: 100%;
    background: transparent;
}

/*STYLING RESULTS PAGE */

.instant-search__results-container {
    position: absolute;
    background-color: white;
    max-height: 250px;
    overflow-y: auto;
    transition: visibility 0.1s, opacity 0.1s ;
    width: 550px;
    border-radius: 0 0 10px 10px;
}

.instant-search__results-container--visible {
    visibility: visible;
    opacity: 1;
}

.instant-search__result {
    display: block;
    color: #333333;
    text-decoration: none;
    padding: 10px;
    font-size: 0.8em;
}

.instant-search__result:hover {
    background: #eeeeee;
}

.instant-search__result:not(:last-of-type) {
    border-bottom: 1px solid #eeeeee;
}

.instant-search__title {
    font-size: 1.1em;
    font-weight: bold;
}

.instant-search__rank {
    line-height: 1.5;
    margin: 8px 0;
}

/* TITLE*/
#title {
    color: white;
    font-weight: bold;
    font-size: 1.9rem;
    padding: 0.6rem;

}

#title a {
    text-decoration: none;
    color: white;
}

/* BURGER NAVIGATION */

.burger {
    display: none;
    align-items: center;
    justify-content: center;
}
.burger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 3px;
    transition: all 0.3s ease-in;
}

/*SUBMIT A BLOG*/
.submit-a-blog {
    width: 100%;
    line-height: 1.8;
    background-color: whitesmoke;
    color: #345;
}

.submit-a-blog-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2rem 0;
}

.submit-a-blog-text {
    background-color: white;
    width:60%;
    padding: 2rem;
    border-radius: 10px;
}

.submit-a-blog-text ul li {
    list-style: none;
}

.sidebar {
    width: 20%;
    background-color: aliceblue;
    padding: 2rem;
    border-radius: 10px;
}

.sidebar p a {
    font-weight: bold;
    color: #ebc462;
}

.sidebar p a:hover {
    color: #dfad31;
}

h2 {
    text-align: center;
    color: #123;
    background-color: white;
    padding: 2rem 0;
}

/*EXAMPLE BLOG*/
.example-blog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.example-blog-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    width: 70%;
}

.example-blog-container h3 {
    font-size: 2rem;
}

.example-blog-container h3 a {
    text-decoration: none;
    color: #123;
} 

.example-blog-container h3 a:hover {
    color: #234;
}

.blog-of-the-week-text-container p a {
    text-decoration: none;
    color: #ebc462;
}

.blog-of-the-week-text-container p a:hover {
    color: #dfad31;
}

.blog-of-the-week-container2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 0;
    width: 70%;
    background-color: aliceblue;
    border-radius: 10px;
}

.blog-of-the-week-text {
    padding: 0 2rem;
    line-height: 1.7;
    color: #123;
}

.blog-of-the-week-img {
    padding: 0 2rem;
}

.blog-of-the-week-img img {
    max-width: 250px;
}

.extra-info p {
    color: #ddd;
    text-align: center;
}

.title {
    display: flex;
    align-items: center;
}

.tag {
    font-size: 0.7rem;
    background-color: red;
    margin: 0 0.6rem;
    padding: 0.3rem;
    border-radius: 10px;
}

.contact-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1.4rem 0 0 0;
}

.contact-info p {
    padding: 0 1rem;
}

.contact-info p a {
    text-decoration: none;
    color: #123;
}

.contact-info p a:hover {
    color: #234;
    text-decoration: underline;
}

.contact-info img {
    max-width: 50px;
    border-radius: 50%;
}

.location {
    display: flex;
    flex-direction: row;
}

.location p {
    padding: 0 0.5rem;
}

/*WHAT NOW SECTION */
.what-now {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #123;
    color: white;
}

.what-now-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.what-now-text {
    padding: 0 2rem;
    line-height: 2.2;
    width: 75%;
}

.what-now-text h3 {
    font-size: 2rem;
}

.what-now-text p a {
    text-decoration: none;
    color: #ebc462;
}

.what-now-text p a:hover {
    color: #dfad31;
}

.what-now-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2rem;
}

.what-now-img img {
    max-width: 400px;
}

.what-now-img a {
    padding: 1rem 0;
    font-size: 0.6rem;
    text-decoration: none;
    color: #678;
}

/* FOOTER */
.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: aliceblue;
}

.flexbox3 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 60%;
    padding: 3rem 0rem;

}

.footer1 {
    display: flex;
    flex-direction: column;
    font-size: 0.7rem;
}

.footer1 h4 {
    color: #123;
    font-size: 0.9rem;
}

.footer1 ul li {
    list-style: none;
    line-height: 4;
    color: #123
}

.footer1 ul li a {
    text-decoration: none;
    color: #dfad31;
    font-weight: bold;
}

.footer1 ul li a:hover {
    color: #cf9a13;
    text-decoration: underline;
}

/*FOOTER2*/

.flexbox4 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #456;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 70%;
    color: white;
    text-align: center;
}

footer p {
    font-size: 0.6rem;
    padding: 2rem;

}

footer p a {
    text-decoration: none;
    color: #c89519;
    font-size: 0.6rem;
    padding: 2rem;

}

footer p a:hover {
    text-decoration: underline;
    color: #dfad31;

}

@media(max-width: 1500px) {

    .blog-of-the-week-container2 {
        justify-content: center;
        background-color: white;
    }


}
@media(max-width: 1350px) {
    #submit-a-blog {
        display: none;
    }

    .what-now h3 {
        font-size: 1.5rem;
    }

    .what-now p {
        font-size: 0.8rem;
    }
}

@media(max-width: 1024px) {

    #title {
        display: none;
    }

    #submit-a-blog {
        display: block;
    }

    .instant-search {
        max-width: 250px;
    }

    .instant-search__results-container {
        width: 250px;
    }

    /* MOBILE BURGER NAVIGATION */
    
    .burger {
        display: flex;
        flex-direction: column;
    }
    
    body {
        overflow-x:hidden;
    }
    
    .navigation ul {
        display: flex;
        flex-direction: column;
    }
    
        
    .navigation ul li {
        padding: 1rem 1rem ;
    }
    
    .nav-links {
        position: absolute;
        left:0px;
        height: 100vh;
        top: 9vh;
        background-color: #678;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(-100%);
        transition: transform 0.5s ease-in-out;
    }
    
    .nav-links li {
        opacity: 1;
    }

    .submit-a-blog {
        display: flex;
        text-align: center;
    }

    .submit-a-blog-container {
        flex-direction: column-reverse;
        align-items: center;
        margin: 0 1rem;
    }

    .submit-a-blog-text {
        width: 80%;
    }

    .sidebar {
        width: 80%;
        margin: 1rem 0;
    }

    h2 {
        padding: 1rem 1rem;
    }

    .blog-of-the-week-container2 {
        background-color: white;
    }

    /*FOOTER */
    .flexbox3 {
        text-align: center;
        flex-direction: column;
    }

    .footer1 {
        margin: 1rem 0;
    }

    /* FOOTER 2 */

    footer {
        flex-direction: column;
    }

    footer p {
        padding: 0;
        margin: 1rem 0;
    }
    

}

@media(max-width: 900px) {

    .blog-of-the-week-container h3 {
        text-align: center;
    }
    .blog-of-the-week-container2 {
        flex-direction: column;
        text-align: center;
    }

    .blog-of-the-week-text {
        text-align: center;
    }

    .location {
        justify-content: center;
    }

    .title {
        justify-content: center;
    }

    .tag {
        display: none;
    }

    .contact-info {
        align-items: center;
    }

    .what-now {
        align-items: center;
    }

    .what-now h3 {
        padding: 1rem 0;
        font-size: 1.2rem;
    }

    .what-now-container {
        justify-content: center;
    }

    .what-now-text {
        padding: 1rem 0;
        text-align: center;
    }

    .what-now-img {
        display: none;
    }

    
}

.nav-active {
    display: flex;
    flex-direction: column;
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);

    }

    top {
        opacity: 1;
        transform: translateX(0px);

    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 8px);

}

.toggle .line2 {
    opacity: 0;
    
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -8px);
    
}